text     { font-size: 32; font-family: Seville-Condensed; text-length: 32; }
textarea { font-size: 32; font-family: Seville-Condensed; text-length: 1024; }

.hide {
  display: none;
}

.hide * {
  display: none;
}
